<!-- <div class="score-card-container">
  <app-individual-score-card *ngFor="let job of jobs" [name]="job.name" [score]="job.score"></app-individual-score-card>
</div>

<br>

<div class="score-card-container">
  <app-individual-score-wage *ngFor="let job of jobs" [wage]="job.wage"></app-individual-score-wage>
</div>

<br>

<div class="score-card-container">
  <app-training *ngFor="let job of jobs" [training]="job.training"></app-training>
</div>

<br>

<div class="score-card-container">
  <app-individual-score-demand *ngFor="let job of jobs" [demand]="job.demand"></app-individual-score-demand>
</div> -->