.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-h-full {
  min-height: 100vh;
}

.card-container-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card-container {
  margin: 10px 0;
  padding: 16px;
  box-sizing: border-box;
}

.card-container:first-of-type {
  min-height: 300px;
}

mat-card {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background: linear-gradient(90deg, #743fa9, #2b72df, #2b9adf);
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  width: 280px;
  height: 45px;
  color: white !important;
  border: 2px solid white;
  padding: 4px;
  font-weight: bold;
}

.btn1 {
  background-color: #082f99 !important;
  color: #fff !important;
}

.card-ready {
  // background: linear-gradient(0deg, #004986, #0275c9,);
  background: url('/assets/img/people_talking.png') no-repeat center center,
    linear-gradient(to bottom,  #0276c9, #004a86);
  background-size: cover, cover;
  background-blend-mode:multiply;
  color: #ffffff;
}

.Title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

.font {
  font-size: 18px;
  color: #ffffff;
}

.custom {
  font-size: 14px;
}

.like {
  color: var(--primary-color);
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  font-weight: bold;
}

.checkbox {
  color: #ffffff;
}

.white-text {
  color: white;
  font-size: 18px;
}

mat-checkbox b {
  color: #ffffff !important;
}

.one {
  color: rgb(150, 150, 150);
}

.card-assistance {
  border: 2px solid var(--mint-color);
}

.editBtn {
  transform: translateY(0.5rem);
  color: var(--secondary-color) !important;
}

.downLButton {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.back {
  margin-right: 750px;
  margin-bottom: 15px;
  background-color: transparent !important;
  color: var(--secondary-color) !important;
}