.prefixSpan {
    margin-inline: 0.5rem;
}

.btnFilters {
    border: 2px solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
    padding: 1.5rem !important;
    font-weight: bold !important;
}

.scoreCardsContainer {
    // gap: 1rem;
    justify-content: space-between;
}

.scoreCardInd {
    width: 32.5%;
    margin-top: 1rem;
}

.txtTitle {
    color: var(--primary-color);
    text-align: left;
    font-weight: bold;
}

.sorterBtn {
    width: 350px;
}

::ng-deep .mat-mdc-select-min-line {
    font-weight: bolder;
}