<div class="w-full flex-center" style="margin-bottom: 2rem;">
    <div class="w-full flex-center">
        <div class="w-full">
            <h2 class="txtTitle">Other Recommendations</h2>
        </div>
        <div class="flex-center">
            <mat-form-field appearance="outline" class="sorterBtn">
                <span matPrefix class="prefixSpan">Sort by:</span>
                <mat-select [(ngModel)]="sortBy" (selectionChange)="handleChangeSort()">
                    <mat-option *ngFor="let srt of sorters" [value]="srt.id">
                        {{srt.desc}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="handleAscending()">
                <mat-icon>{{ascending ? 'arrow_downward' : 'arrow_upward'}}</mat-icon>
            </button>
        </div>
        <span class="flex-auto"></span>
        <button mat-stroked-button class="btnFilters"><mat-icon>tune</mat-icon> Filters</button>
    </div>
    <div class="w-full flex-center scoreCardsContainer" *ngIf="otherRecomendations.length > 0">
        <app-individual-score-card *ngFor="let scoreCard of otherRecomendations"
            [name]="scoreCard.recommended_soc_title" class="scoreCardInd"
            [score]="scoreCard.recommendation_score" [route]="'/compare/'+scoreCard.recommended_soc_code"></app-individual-score-card>
    </div>
</div>