<div class="w-full flex-center min-h-full">
    <div class="w-75" style="margin-top: 2rem;">
        <mat-toolbar class="back">
            <button mat-icon-button type="button" (click)="handleBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="Back">Back to Recommendations</span>
        </mat-toolbar>
        <div class="w-full flex-center assestmentContainer">
            <div class="flex-center">
                <!-- <mat-icon>content_paste</mat-icon>  -->
                <svg width="41" height="42" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M27.6635 37.3188H3.91528V7.46414H27.6635V37.3188Z" fill="white" />
                    <path
                        d="M30.3781 15.606V6.10675C30.3781 5.35746 29.7706 4.74971 29.021 4.74971H2.5587C1.80862 4.74971 1.20166 5.35746 1.20166 6.10675V38.6758C1.20166 39.4251 1.80862 40.0328 2.5587 40.0328H29.021C29.7706 40.0328 30.3781 39.4251 30.3781 38.6758V26.4624L27.664 29.1765V37.3187H3.91574V7.46379H27.664V18.3201L30.3781 15.606Z"
                        fill="#00A7E1" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.523193 38.6758C0.523193 39.8006 1.43394 40.7113 2.55876 40.7113H29.0211C30.1452 40.7113 31.0566 39.8008 31.0566 38.6758V26.4624H29.6996V38.6758C29.6996 39.0509 29.3961 39.3543 29.0211 39.3543H2.55876C2.18341 39.3543 1.88023 39.0511 1.88023 38.6758V6.10676C1.88023 5.73159 2.18349 5.42825 2.55876 5.42825H7.30842V4.0712H2.55876C1.43385 4.0712 0.523193 4.98227 0.523193 6.10676V38.6758ZM3.23728 37.9973H28.3426V29.1765H26.9855V36.6402H4.59432V8.14233H7.30842V6.78529H3.23728V37.9973ZM28.3426 18.3201V6.78529H23.5929V8.14233H26.9855V18.3201H28.3426ZM31.0566 15.6061V6.10676C31.0566 4.98211 30.1453 4.0712 29.0211 4.0712H23.5929V5.42825H29.0211C29.396 5.42825 29.6996 5.73176 29.6996 6.10676V15.6061H31.0566Z"
                        fill="#004987" />
                    <path
                        d="M20.2004 4.07115H18.1648C18.1648 2.57229 16.9496 1.35706 15.4507 1.35706C13.9513 1.35706 12.7367 2.57229 12.7367 4.07115H10.7011C9.57671 4.07115 8.66553 4.9824 8.66553 6.10671V8.14227H22.2359V6.10671C22.2359 4.9824 21.3242 4.07115 20.2004 4.07115Z"
                        fill="white" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.98706 8.8208H22.9145V6.10672C22.9145 4.60755 21.6988 3.39263 20.2004 3.39263H18.7755C18.4612 1.84414 17.092 0.678549 15.4508 0.678549C13.809 0.678549 12.4403 1.8442 12.126 3.39263H10.7011C9.20202 3.39263 7.98706 4.60769 7.98706 6.10672V8.8208ZM9.3441 7.46376V6.10672C9.3441 5.35713 9.95152 4.74967 10.7011 4.74967H13.4152V4.07115C13.4152 2.94695 14.3262 2.03559 15.4508 2.03559C16.5749 2.03559 17.4864 2.94704 17.4864 4.07115V4.74967H20.2004C20.9496 4.74967 21.5575 5.35726 21.5575 6.10672V7.46376H9.3441Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1293 4.74976V3.39271H14.7722V4.74976H16.1293Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9138 14.2493H14.093V15.6064H22.9138V14.2493Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.45176 18.593L13.0118 14.1431L11.9521 13.2953L9.23618 16.6902L7.87685 15.6123L7.03369 16.6756L9.45176 18.593Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M18.1649 29.1765H14.0938V30.5335H18.1649V29.1765ZM19.5219 26.4624H14.0938V27.8194H19.5219V26.4624ZM20.879 23.0698H14.0938V24.4268H20.879V23.0698ZM22.9145 20.3557H14.0938V21.7127H22.9145V20.3557ZM21.5575 16.9631H14.0938V18.3201H21.5575V16.9631Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9.45176 30.8064L13.0118 26.3564L11.9521 25.5087L9.23618 28.9036L7.87685 27.8257L7.03369 28.889L9.45176 30.8064ZM9.45176 24.6997L13.0118 20.2497L11.9521 19.402L9.23618 22.7969L7.87685 21.719L7.03369 22.7823L9.45176 24.6997Z"
                        fill="#004987" />
                    <path
                        d="M39.7926 14.4735L25.7777 28.4887L22.2358 29.1969L22.9443 25.6553L36.9592 11.6399C37.2362 11.3632 37.6841 11.3632 37.9611 11.6399L39.7926 13.4716C40.069 13.7481 40.069 14.1968 39.7926 14.4735Z"
                        fill="#00A7E1" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M21.3711 30.0618L26.1124 29.1137L40.2726 14.9533C40.8134 14.4118 40.8142 13.5334 40.2726 12.9919C40.2726 12.9919 40.2726 12.9919 40.2726 12.9919L38.4412 11.1601C37.8993 10.6188 37.0218 10.6185 36.4799 11.1599L22.3195 25.3208L21.3711 30.0618ZM23.101 28.332L23.5696 25.9898L37.439 12.1199C37.451 12.1079 37.4697 12.1079 37.4818 12.1199L39.313 13.9514C39.3243 13.9627 39.3247 13.982 39.3127 13.994L25.4434 27.8636L23.101 28.332Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M21.3711 30.0618L26.1124 29.1137L40.2726 14.9533C40.8134 14.4118 40.8142 13.5334 40.2726 12.9919C40.2726 12.9919 40.2726 12.9919 40.2726 12.9919L38.4412 11.1601C37.8993 10.6188 37.0218 10.6185 36.4799 11.1599L22.3195 25.3208L21.3711 30.0618ZM23.101 28.332L23.5696 25.9898L37.439 12.1199C37.451 12.1079 37.4697 12.1079 37.4818 12.1199L39.313 13.9514C39.3243 13.9627 39.3247 13.982 39.3127 13.994L25.4434 27.8636L23.101 28.332Z"
                        fill="#004987" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M38.6486 15.6181L35.8145 12.7845L34.855 13.7441L37.6891 16.5778L38.6486 15.6181Z"
                        fill="#004987" />
                </svg>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <h2>Improve your result by completing an interest assessment!</h2>
            </div>
            <button mat-stroked-button color="primary" class="btnt"><b>Take assessment</b></button>
        </div>
        <div class="w-full flex-center" style="margin-top: 3rem;">
            <span class="jobTitle w-75">{{jobDetail.title}}</span>
            <span class="spacer"></span>
            <div class="flex-center hvr" style="color: var(--secondary-color)">
                <h3>Share</h3><mat-icon style="margin-left: 5px;">share</mat-icon>
            </div>
        </div>
        <div class="w-full flex-center" style="margin-top: 1rem;">
            <div class="w-50 descriptContainer">
                <h2>{{jobDetail.description}}</h2>
            </div>
            <div class="w-50 flex-center mediaContainer">
                <img
                    [src]="compareInfo?.recommendation_score ? 'assets/img/distribution_manager.jpg' : 'assets/img/Logistician.png'">
            </div>
        </div>
        <div class="w-full flex-center" *ngIf="compareInfo?.recommendation_score"
            style="text-align: center; margin-top: 3rem;">
            <h2>Compare <span style="font-weight: bold;">{{ compareInfo?.recommended_soc_title }}</span>
                to <mat-form-field appearance="outline" style="width: 400px;">
                    <!-- <mat-label></mat-label> -->
                    <mat-select [(ngModel)]="idJb">
                        <mat-option *ngFor="let jb of jobsCompare" [value]="jb.idJob">
                           <h2 class="txtSelect">{{jb.Title}}</h2><span *ngIf="idJb == 1">(recommended Job)</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <span style="font-weight: bold;">{{ compareInfo.recommended_soc_title }}</span> -->
            </h2>
        </div>
        <div class="w-full flex-center scoreCardsContainer">
            <app-individual-score-card class="scoreCardInd" name="Recommendation score"
                [job]="scoreCard.recommended_soc_title" [score]="scoreCard.recommendation_score"
                [scoreCompare]="compareInfo?.recommendation_score"
                [jobCompare]="compareInfo?.recommended_soc_title"></app-individual-score-card>
            <app-individual-score-wage class="scoreCardInd" name="Wage"
                [wage]="'$'+scoreCard.mean_quarterly_wage_hourly+' / hour'" [job]="scoreCard.recommended_soc_title"
                [wageCompare]="'$'+compareInfo.mean_quarterly_wage_hourly+' / hour'"
                [jobCompare]="compareInfo?.recommended_soc_title"></app-individual-score-wage>
            <app-individual-score-wage class="scoreCardInd" name="Training duration"
                [wage]="scoreCard.program_length_weeks+' months'" [job]="scoreCard?.recommended_soc_title"
                [wageCompare]="compareInfo.program_length_weeks+' months'"
                [jobCompare]="compareInfo?.recommended_soc_title"></app-individual-score-wage>
            <app-individual-score-wage class="scoreCardInd" name="Training completion"
                [wage]="(scoreCard.training_success_rate * 100).toFixed(0) + '%'"
                [job]="scoreCard.recommended_soc_title"
                [wageCompare]="(compareInfo.training_success_rate * 100).toFixed(0) + '%'"
                [jobCompare]="compareInfo?.recommended_soc_title"></app-individual-score-wage>
            <app-individual-score-demand class="scoreCardInd" name="Job demand"
                [demand]="scoreCard.recommendation_demand" [job]="scoreCard.recommended_soc_title"
                [demandCompare]="compareInfo?.recommendation_demand"
                [jobCompare]="compareInfo?.recommended_soc_title"></app-individual-score-demand>  
            
            <app-interest class="scoreCardInt" name="Interest Alignment"
            [job]="scoreCard.recommended_soc_title"
            [jobCompare]="compareInfo?.recommended_soc_title">
            </app-interest>
            
            
            <!-- <div c
                 lass="scoreCardInd" oncontextmenu="return false;">
                <img [src]="compareInfo?.recommendation_score ? 'assets/img/iACompare.png' : 'assets/img/iAInd.png'" alt="protected image" draggable="false" class="imageCard">
            </div> -->
        </div>
        <mat-card class="w-full cardInterested">
            <h1 class="w-full txtInterested" style="color: white;">
                Are you interested in being a {{jobDetail.title}} ?
            </h1>
            <div class="w-full flex-center actionsContainer">
                <div class="action-resp yes-resp flex-center" (click)="handleReady()">
                    <!-- <div class="top-feeling happy">
                        <mat-icon>mood</mat-icon>
                    </div> -->
                    <img src="/assets/icons/happyFace.png" class="topFeeling topFeelingH">
                    <h1 class="w-75" style="font-size:3rem;">Yes!</h1>
                    <h3>Show me my traininig options.</h3>
                </div>
                <div class="action-resp maybe-resp flex-center">
                    <!-- <div class="top-feeling neutral">
                        <mat-icon>sentiment_neutral</mat-icon>
                    </div> -->
                    <img src="/assets/icons/questionFace.png" class="topFeeling topFeelingQ">
                    <h1 class="w-75" style="font-size:3rem;">Maybe...</h1>
                    <h3>I have questions or need help.</h3>
                </div>
                <div class="action-resp no-resp flex-center">
                    <!-- <div class="top-feeling sad">
                        <mat-icon>sentiment_dissatisfied</mat-icon>
                    </div> -->
                    <img src="/assets/icons/angryFace.png" class="topFeeling topFeelingA">
                    <h1 class="w-75" style="font-size:3rem;">No</h1>
                    <h3>I'm not interested in this job.</h3>
                </div>
            </div>
        </mat-card>
    </div>
</div>