df-messenger {
  z-index: 999;
  // position: fixed;
  --df-messenger-font-color: black;
  --df-messenger-font-family: Google Sans;
  --df-messenger-chat-background: #f3f6fc;
  --df-messenger-message-user-background: #d3e3fd;
  --df-messenger-message-bot-background: #fff;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
