<div class="flex-center w-full min-h-full">
    <div class="skeletonBox skeleton w-full"></div>
    <div class="w-75">
      <div class="skeletonBox skeleton1"></div>
    </div>
    <div class="w-75">
      <div class="skeletonBox skeleton2"></div>
    </div>
    <div class="w-75">
      <div class="skeletonBox skeleton2"></div>
    </div>
    <div class="w-75" style="margin-top: 2rem">
      <div class="topRecommendedCard w-full">
        <div class="headerRecommended w-full">
          <div class="header-content">
            <h1>Workforce Recommendation Engine</h1>
            <div class="flex-center pbr">
              <h1>POWERED BY RESULTANT</h1>
              <img src="/assets/img/resultantLogo.png" alt="" />
            </div>
          </div>
        </div>
        <div class="w-full flex-center">
          <div class="bodyRecommended w-75 flex-center align-items-center">
            <div class="myContainer1" width="200px">
              <img src="assets/icons/pokar_cards.png" alt="Poker Cards" class="icon-before-text" />
            </div>
  
            <div class="myContainer2" width="200px">
              <mat-icon class="plus">add</mat-icon>
            </div>
  
            <div class="myContainer3" width="300px">
              <p class="descrElipsis">
                25 other job recommendations <br/>
                for you, <b class="name-highlight">Joseph</b>!
              </p>
            </div>
          </div>
          <div class="w-25 flex-center">
            <button class="gradient-button flex-center" routerLink="/home">
              <span class="txtBtn-gradient">Show me</span>
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-75">
      <div class="skeletonBox skeleton3"></div>
    </div>
    <div class="w-75">
      <div class="skeletonBox skeleton4"></div>
    </div>
    <div class="w-75">
      <div class="skeletonBox skeleton4"></div>
    </div>
  </div>
  