<div class="flex-container w-full min-h-full">
  <div class="fullBox w-full">
    <div class="logo-container">
      <img src="assets/img/Welcome.png" class="welcome-logo" />
    </div>
    <div class="content-container">
      <h1 class="Title">Welcome to the Workforce Recommendation Engine!</h1>
      <div class="container">
        <br />
        <p>
          The Workforce Recommendation Engine (WRE) is here to help you take the
          first step toward <br />
          better workforce opportunities. The personalized job recommendations are
          based on:
        </p>
        <br />
        <ul class="list">
          <li>
            <!-- <mat-icon style="color: #2b72df">check</mat-icon> -->
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.268738" width="16" height="16" rx="8" fill="#B8EFE2" />
              <path d="M5.5 8.26874L7.80769 10.5764L11.5 5.96104" stroke="#004987" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            Experiences of individuals like you.
          </li>
          <li>
            <!-- <mat-icon style="color: #2b72df">check</mat-icon> --><svg width="17" height="17" viewBox="0 0 17 17"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.268738" width="16" height="16" rx="8" fill="#B8EFE2" />
              <path d="M5.5 8.26874L7.80769 10.5764L11.5 5.96104" stroke="#004987" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            Current job market trends.
          </li>
          <li>
            <!-- <mat-icon style="color: #2b72df">check</mat-icon> -->
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.5" y="0.268738" width="16" height="16" rx="8" fill="#B8EFE2" />
              <path d="M5.5 8.26874L7.80769 10.5764L11.5 5.96104" stroke="#004987" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            Your personal preferences.
          </li>
        </ul>
        <br /><br />
        <p> 
          <br />
          The goal of the WRE is to provide you with the necessary information and
          <br />
          awareness for you to make the best decisions for yourself.
        </p>
        <!-- <p> 
          <br />
          <span class="txtPrivacy" routerLink="/privacy">Privacy policy</span>
        </p> -->
        <br /><br />
        <div class="w-10 flex-center">
          <button class="gradient-button flex-center" routerLink="/recommendations">
            <span class="txtBtn-gradient"><b>Continue</b>&nbsp;&nbsp;
            </span> 
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
<script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
<df-messenger
  location="us-central1"
  project-id="wre-poc"
  agent-id="71005408-a04b-48cf-a5ad-a70dd0cdf0e1"
  language-code="en"
  max-query-length="-1">
  <df-messenger-chat-bubble
   chat-title="WRE Agent" style="color: #000;">
  </df-messenger-chat-bubble>
</df-messenger>
<style>
  df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px; -->
    <!-- --df-messenger-font-color: #000; -->
    <!-- --df-messenger-font-family: Poppins;
    --df-messenger-chat-background: var(--primary-color);
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff; */
   --df-messenger-bot-message: #878fac;
   --df-messenger-button-titlebar-color: #df9b56;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon: #878fac;
   --df-messenger-user-message: #479b3d;
  }
</style> -->

<!-- <footer class="footer">
  <img src="assets/img/footer.png" />
</footer> -->