.Title{
    font-weight: 100;
    font-style: normal;
    color: #0a40a7;
    font-size: 2rem; 
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content-container {
  padding: 20px;
}

.container{
  margin: auto;
  font-size: 1.12rem; 
  color: #70747a;
}

.list{
  text-align: left; 
  display: inline-block; 
  list-style-type: none; 
  padding-left: 0; 
  margin: 0 auto; 
  li {
    margin: 1.5rem;
  }
}

.list-bullet {
  width: 20px; 
  height: 20px; 
  margin-right: 20px; 
}

/* Estilo para el botón */
.gradient-button {
  background: linear-gradient(90deg, #a810d2, #0058a0, #0275c9, #1ea1f2);
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px !important;
  width: 15rem;
  /* Ajusta el ancho del botón */
  height: 3.2rem;
  /* Ajusta la altura del botón */
}

.txtBtn-gradient {
  margin-left: 0.5rem;
  transform: translateY(2px);
}

.min-h-full {
  height: 115vh;
}

.fullBox {
  position: absolute;
  top: 4rem;
}

.txtPrivacy {
  text-decoration: underline;
  color: var(--primary-color);
}

.txtPrivacy:hover {
  cursor: pointer;
  scale: 1.05;
}