<mat-dialog-content>
    <mat-card>
        <mat-card-title>Edit contact methods</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formContactMethods" (ngSubmit)="handleSubmit()" class="w-full flex-center formContainer">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>E-mail</mat-label>
                    <input type="text" matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput formControlName="phone" (keydown)="validarEntrada($event)">
                </mat-form-field>
                <button type="submit" mat-raised-button class="submitBtn"><mat-icon>check</mat-icon>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" mat-raised-button class="cancelBtn" (click)="onNoClick()"><mat-icon>close</mat-icon>Cancel</button>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>