.btnBlue {
  width: 400px;
  max-width: 95%;
  height: 3.5rem;
  font-size: 1.3rem;
  margin: 0.3rem;
}

.btnsContainer {
  gap: 3rem;
  margin-bottom: 3rem;
}

.carder {
  width: 1000px;
  max-width: 95%;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px;
}

.card-header-container {
  justify-content: space-between;
  background-color: #2962FF;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;

  h1 {
    color: darkorange;
  }

  h3 {
    color: rgb(197, 197, 197);
  }
}

.btnStars {
  background-color: rgba(255, 179, 0, 0.315);
  color: darkblue;
  border-radius: 50%;
}

.carder-content-container {
  padding: 0.5rem;
  background: linear-gradient(105deg, rgba(255, 255, 255, 1) 75%, rgba(255, 233, 0, 0.5) 100%);
  border-radius: 0 0 1rem 1rem;
  color: black;
}

.btnViewDetails {
  width: 100%;
  background-color: green !important;
  color: white !important;
  height: 3.5rem;
  font-size: 1.3rem;
}

.ad-txt {
  color: darkgray;
  text-align: center;
}

.ad-container {
  margin: 1.5rem 0 1.5rem 0;
  text-align: center;
}

.claimant-container {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  height: 8rem;
}

.txtClipped {
  scale: 4;
  background: linear-gradient(90deg, rgba(163, 161, 161, 0.4892550770308123) 25%, rgba(0, 131, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.img-container {
  gap: 2rem;
}

.image-style {
  width: 450px;
  max-width: 95%;
  overflow: hidden;
  object-fit: contain;
  border-radius: 20px;
}

.header-table {
  text-align: center;
  color: white;
  background: linear-gradient(0deg, #1b31ad 0%, var(--primary-color) 100%);
  width: 1000px;
  max-width: 95%;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 0;
}

.claims-table {
  width: 1000px;
  max-width: 95%;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px solid gray;

  thead {
    border: 0 0 1px 0 solid gray !important;
  }
}

.tableContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}